.corpo{
    align-items: center;
    text-align: center;
    display: contents;

    
}
#jogo{
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
  }

#jogo div {
border: 1px solid rgb(2, 8, 4);
line-height: 100px;
font-size: xx-large;
font-family: Arial;
text-align: center;
cursor: pointer;
}

.menu{
   text-align: center;
    align-items: center;
    
}
.select-box{
    text-align: center;
    align-items: center;
}

.play-board{
    text-align: center;
    align-items: center;
}

.result-box{
    text-align: center;
    align-items: center;
}

body{
    display: contents;
}