/*exercicio 1
body {
    font: 12pt Ariel;

}
button {
    font-size: 12pt;
    padding: 30px;

}*/

/*exercicio 2
body {
    font: 12pt Ariel;

}
button {
    font-size: 12pt;
    padding: 30px;

}
*/
/*exercicio 3
body {
    font: 12pt Ariel;

}
button {
    font-size: 12pt;
    padding: 30px;

}*/

/*exercicio 4
body {
    font: 12pt Ariel;

}
button {
    font-size: 12pt;
    padding: 30px;

}*/
/*exercicio 5*/

body {
    font: 12pt Ariel;

}
button {
    font-size: 12pt;
    padding: 30px;

}

